@model Project.Models.Warehouse
<link href="@Url.Content("~/css/Product.css")" rel="stylesheet">

<div class="container">
    <div class="text">
        Create
    </div>
    <form asp-action="Create">
        <div class="form-group">
            <div class="input-data">
                <input asp-for="WarehouseName" class="form-control" placeholder="WarehouseName" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="Address" class="form-control" placeholder="Address" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="ZipCode" class="form-control" placeholder="ZipCode" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-data">
                <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>
            <div class="back-btn">
                <div class="submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>